[tower]
name=Ansible Tower Offline Repository $releasever $basearch
baseurl=file://{{ bundle_install_folder }}/tower
enabled=0
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-ansible-release
cost=10

[epel_bundled]
name=Extra Packages for Enterprise Linux 7 - $basearch
baseurl=file://{{ bundle_install_folder }}/epel
failovermethod=priority
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7
cost=10

[pgdg94]
name=PostgreSQL 9.4 $releasever - $basearch
baseurl=file://{{ bundle_install_folder }}/pgdg94
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-PGDG-94
cost=10

[mongodb-org]
name=MongoDB Repository
baseurl=file://{{ bundle_install_folder }}/mongodb-org
gpgcheck=0
enabled=1
cost=10

[jlaska-proot]
name=Copr repo for proot owned by jlaska
baseurl=file://{{ bundle_install_folder }}/jlaska-proot
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/jlaska-proot-epel.gpg
enabled=1
enabled_metadata=1
cost=10
