# The settings in this file are used by the service ansible-tower.

# List of services managed by Ansible Tower (space-delimited).
{% if database == 'external' %}
{% if ansible_os_family == 'Debian' %}
TOWER_SERVICES="redis-server apache2 supervisor"
{% else %}
TOWER_SERVICES="redis httpd supervisord"
{% endif %}
{% else %}
{% if ansible_os_family == 'Debian' %}
TOWER_SERVICES="{{ pg_init_name }} redis-server apache2 supervisor"
{% else %}
TOWER_SERVICES="{{ pg_init_name }} redis httpd supervisord"
{% endif %}
{% endif %}
