# Ansible Tower database settings.

DATABASES = {
   'default': {
       'ATOMIC_REQUESTS': True,
       'ENGINE': 'django.db.backends.postgresql_psycopg2',
       'NAME': '{{ pg_database }}',
       'USER': '{{ pg_username }}',
       'PASSWORD': """{{ pg_password }}""",
       'HOST': '{{ pg_host or pg_run_dir }}',
       'PORT': {{ pg_port or None }},
   }
}

# Use SQLite for unit tests instead of PostgreSQL.
if len(sys.argv) >= 2 and sys.argv[1] == 'test':
    DATABASES = {
        'default': {
            'ATOMIC_REQUESTS': True,
            'ENGINE': 'django.db.backends.sqlite3',
            'NAME': '{{aw_home}}/awx.sqlite3',
            # Test database cannot be :memory: for celery/inventory tests.
            'TEST_NAME': '{{aw_home}}/awx_test.sqlite3',
        }
    }

